{% extends 'base.html' %}
{% block title %} Burger King{% endblock %}
{% block content %}


<img style="width: 300px; height: auto;" src = "{{ category.image.url }}">

    <h1 style="color: #f5ebdc; background-color: red; height: 150px; display: flex; justify-content: center; align-items: center;">Our menu</h1>
    <div style="background-color: #f5ebdc;" class="row row-cols-1 row-cols-md-3 g-4">
        {% for category in categories %}

            <div style="background-color: #f5ebdc;" class="col">
                <div style="background-color: #f5ebdc;" class="card">
                <img style="width: 462px; height: auto;" src = "{{ category.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 style="color: orange; height: 50px; display: flex; justify-content: center; align-items: center;" class="card-title">
                        <a href="{% url 'list' category.slug %}">{{ category.title }}</a>
                    </h2>
                </div>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}